<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/assets/css/style.css">
    <style>
    figure { margin: 2rem 0; }
    figure img { width: 100%; height: auto; display: block; }
    figcaption { font-size: 0.9em; opacity: 0.75; margin-top: 0.5rem; font-style: italic; }
    </style>
  </head>
  <body>
    <div class="markdown-body">
      {{ content }}
    </div>
  </body>
</html>
